spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5438/mscurrency}
    username: ${DATABASE_USERNAME:mscurrency}
    password: ${DATABASE_PASSWORD:1234567}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
    org.springframework.security: DEBUG